<md-content class="card-container">
    <md-card>
        <md-card [heading]="eqip.name" *ngFor="let eqip of eqips"
                        (click)="selected.emit(eqip)">
        <md-card-title>Покупка: {{eqip.name}}</md-card-title>
        <md-card-content>
            <ul class="list-inline">
              <li *ngFor="let tag of eqip.tags">
                <span class="label label-warning">
                  #{{tag.name}}
                </span>
              </li>
            </ul>
            <div>
              {{eqip.user}}
            </div>
            <div>
              {{eqip.picture}}
            </div>
            <div>
              {{eqip.description}}
            </div>
            <div>
              <button class="btn btn-danger" type="submit" (click)="deleted.emit(eqip); $event.stopPropagation();"
              >
                <i>Удалить</i>
              </button>
            </div>
        </md-card-content>
        </md-card>
    </md-card>
</md-content>
